// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff !default;
$color-primary: #604dca !default;    // front color
$color-secondary: #606c76 !default;  //background + hover front color
$color-tertiary: #f4f5f6d7 !default;
$color-quaternary: #973e3e !default;
$color-quinary: #e1e1e1 !default;
